import { Component } from '@angular/core';

@Component({
  selector: 'ktb-<%= dasherize(name) %>-index-page',
  templateUrl: './index.page.html',
  styleUrls: ['./index.page.scss'],
})
export class <%= classify(name) %>IndexPage {}
